@tailwind base;
@tailwind components;
@tailwind utilities;

/* Applique le curseur flamme globalement */
html, body {
    cursor: none;
}

/* Fonts */
@font-face {
    font-family: 'Nexa Script';
    src: url('../fonts/nexa-script/nexa-script.otf') format('opentype');
}

@font-face {
    font-family: 'Tan Tangkiewood';
    src: url('../fonts/Pack-in/Pack in.ttf') format('opentype');
}

h1, h2, h3 {
    font-family: 'Nexa Script', cursive;
}

p, span {
    font-family: 'Tan Tangkiewood', sans-serif;
}

:root {
    --color-black: #111;
    --color-light-gold: #f4b52b;
    --color-dark-gold: #bd6513;
    --color-bordeaux: #850000;
    --color-indigo: #402978;

    --text-color: #FFFFFF;
    --bg-color: var(--color-black);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Tan Tangkiewood', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100%;
}

/* En hover sur les boutons et liens */
button:hover ~ .holder .flame,
a:hover ~ .holder .flame {
    height: 85px; /* Augmente la hauteur */
    width: 20000px; /* Augmente légèrement la largeur */
    transition: all 0.3s ease; /* Transition fluide */
}

button:hover ~ .holder .flame:before,
a:hover ~ .holder .flame:before {
    box-shadow: 0 0 10px 0 rgba(247, 93, 0, 0.6), 0 -4px 3px 0 rgba(247, 128, 0, 0.8);
}

button:hover, a:hover{
    cursor: none;
}



